.dataTable {
  .dataGrid {
    background: rgb(229, 231, 235);
    padding: 20px;

    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;
    }

    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      object-fit: cover;
    }

    .action {
      display: flex;
      gap: 15px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;

        &:hover {
          scale: 1.05;
        }
      }
    }
  }
}
/* Media queries for responsiveness */
@media (max-width: 768px) {
  .dataGrid {
    padding: 10px;

    .MuiDataGrid-toolbarContainer {
      flex-wrap: wrap;
    }

    img {
      width: 40px;
      height: 40px;
    }

    .action {
      gap: 10px;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}

@media (max-width: 576px) {
  .dataGrid {
    padding: 5px;

    .MuiDataGrid-toolbarContainer {
      /* Further adjust toolbar styles for even smaller screens */
    }

    img {
      width: 32px;
      height: 32px;
    }

    .action {
      gap: 5px;

      img {
        width: 12px;
        height: 12px;
      }
    }
  }
}
