.dataTable {
  .dataGrid {
    background: rgb(229, 231, 235);
    padding: 20px;

    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;
    }

    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      object-fit: cover;
    }

    .action {
      display: flex;
      gap: 15px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;

        &:hover {
          scale: 1.05;
        }
      }
    }
  }
}
